/** Various overrides of default admin template **/
/** Legiscope Admin Pages **/ 

li > a {
  margin-right: 0;
  padding-right: 0;
}
hr {
  outline-style: none;
}
a {
  text-decoration: none;
  display: inline;
}
a:hover {
  text-decoration: underline;
}

.clear-both {
	clear: both;
}

.clear-both > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#search-wait {
	vertical-align: bottom;
	line-height: 15px;
}
#search-wait > img {
	height: 15px;
}

/** Major panel divisions **/

h2.light {
  font-weight: normal;
}

div#controlpanel label {
  display: inline-block;
  text-align: right;
  padding-top: 4px;
  width: 29%;
}
.readout {
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: right;
}

.poc {
  background-color: transparent;
}
.panels {
  display: block;
  scroll: none;
  clip: auto;
  overflow: hidden;
  min-height: 640px;
  border: 1px solid transparent;
}
#controlpanel {
  background-color: #F7F7F7;
  float: right;
  width: 20%;
  line-height: 100%;
  min-width: 240px;
  padding: 3px;
}
#controlpanel > input {
  background-color: #EEE;
  width: 90%;
}
#controlpanel a {
  margin-left: 6px;
  text-decoration: none;
}
#controlpanel input#keywords {
  background-image: url('/wp-admin/images/search.svg');
  background-repeat: no-repeat;
}

#sitecontent {
  right: 1px;
  line-height: 120%;
  float: right;
  width: 79%;
}
.contentwindow {
  margin: 4px;
  margin-top: 10px;
  background-color: transparent;
}
div.linkset ul {
  list-style-type: none;
  margin-left: 0;
  text-indent: 0;
}
ul.linkset-pager {
  background-color: #EEE;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 10px;
}
ul.linkset-pager li {
  padding-bottom: 4px;
}
div.linkset hr {
  color: #EEE;
  width: 88%;
}
li.link-section {
  text-align: center;
  font-size: 110%;
  line-height: 100%;
}
/** Search hits **/

a.search-match {
  font-size: 120%;
  display: inline;
  color: blue;
  text-decoration: underline;
}
a.search-match:hover {
  text-decoration: none;
}
li.search-match {
  list-style-type: none;
  display: block;
  max-width: 60%;
  clear: both;
  padding-bottom: 10px;
}
span.search-hit-category {
  font-size: 110%;
  color: #AAA;
}
span.search-hit-category {
  display: inline-block;
  clear: right;
  color: #D44 !important;
}
span.search-hit-url, a.search-match-url {
  display: block;
  clear: both;
  color: green;
}
span.search-hit-desc {
  display: block;
  margin-left: 30px;  
}


/** Content tabs **/

div.contenttabs {
  height: 20px;
}
span.contenttab > a {
  color: #99B;
  text-decoration: underline;
}
span.contenttab > a:hover {
  text-decoration: none;
}
span.contenttab {
  font-size: 10px;
  line-height: 24px;
  vertical-align: bottom;
  background-color: transparent; 
  color: #222;
  padding: 4px;
  margin: 0 4px 0 0;
}
#currenturl {
	display: block;
	line-height: 20px;
	vertical-align: top;
	float: right;
	clear: right;
}

span.inactivetab {
  background-color: #CCC; 
}
span.activetab {
  background-color: #AAA;
}


/****/

span.legiscope-refresh {
  display: none;
  text-transform: uppercase;
  color: white;
  background-color: #AAA;
  padding: 3px 2px 2px 3px;
  margin-left: 0px;
}
a.legiscope-remote:hover + span.legiscope-refresh {
  display: inline;
}

.no-bullets {
  list-style-type: none;
  marker-offset: 0;
  text-indent: 0;
  margin-left: 0;
  padding-left: 0;
}
.hotsearch-active {
  background-color: #DFD !important;
}
.hidden {
  display: none;
}
.center {
  margin-left: 50%;
}

/**** Senator Dossier Pages ****/

div.dossier-strip {
  display: block;
  clear: both;
  float: left;
  height: 100px;
  max-height: 100px;
  width: auto;
}
div.senator-dossier-pan-bar {
  display: inline-block;
  max-height: 119px;
  clear: both;
  float: left;
  width: 100%;
  clip: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}

div.congresista-dossier-list {
  display: block;
  width: 49%;
  float: left;
  clear: left;
}

div.half-container {
  display: block;
  float: right;
  clear: right;
  width: 50%;
}

div.float-left {
  float: left;
  display: block;
  max-width: 49%;
	clip: auto;
	overflow: hidden;
}

img.representative-avatar {
  display: inline-block;
  float: right;
}

h1.representative-avatar-fullname {
  display: inline-block;
  float: left;
  clear: left;
  min-width: 50%;
}

div.congress-member-summary {
  display: block;
  clear: both;
  float: left;
  width: 100%;
	padding-bottom: 10px;
}
span.representative-avatar-head {
  display: block;
  float: left;
  clear: left;
}

span.congress-roles-committees, div.congress-doc-item {
  display: block;
	text-transform: none;
  float: left;
  clear: both;
  width: 100%;
}

a.document-meta {
	background-color: #AAA;
	color: white !important;
}

div.congress-doc-item > span {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.wrap-content > *, .wrap-content {
  white-space: normal;
  width: 100%;
}

.uncached {
  color: #AA0 !important;
  font-weight: bold;
}


/* Journals listings */
.indent-1 {
	display: block;
	float: left;
	clear: both;
	width: 100%;
}
.indent-2 {
	display: block;
	float: left;
	clear: none;
	max-width: 32%;
  min-width: 168px;
	clip: auto;
	overflow: hidden;
}
.indent-3 { margin-left: 0px; }

/* Senate Journals */

.senate-journal {
	display: block;
	float: left;
	clear: left;
  width: 100%;
	min-height: 640px;
}

#senate-journal-block {
  display: block;
	background-color: #F4F4F4;
	float: right;
	clear: right;
  width: 43%;
	min-height: 640px;
	padding: 4px;
}

/* Senate Bill match items */
span.senate-bill-searchlisting {
  display: block;
  max-width: 40%;
}
.sb-match-item {
  display: block;
}
.sb-match-subjects {
  font-size: 120%;
  font-weight: bold;
  line-height: 110%;
  color: #117;
}
.sb-match-description {
  font-size: 100%;
  color: #777;
}
span.hilight, .hilight {
  background-color: yellow;
}

/**** Senate Committee Listings ****/
div.committee-functions-leadership {
  display: table-row;
  border-top: 10px dotted #777;
  margin-top: 10px;
  width: 70%;
}
div.committee-name {
  display: table-cell;
  clear: left;
  min-width: 25%;
}
div.committee-leaders {
  display: table-cell;
  clear: none;
  min-width: 30%;
}
div.committee-jurisdiction {
  display: table-cell;
  clear: none;
  max-width: 40%;
}

/** Congressional Committee Listing **/

a.listing-committee-name {
  display: inline-block;
  width: 50%;
  padding-right: 5px;
  text-align: right;
  vertical-align: top;
}
div.committee-leader-box {
  display: block;
  width: 100%;
  clear: both;
}
span.listing-committee-representative {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}


/** Committee Detail **/
img.bio-avatar {
  display: block;
  float: right;
  clear: right;
}

div.congress-committee-info-tabs {
  float: left;
  clear: both;
  width: 100%;
}

div.committee-contact-block-right {
  float: right;
  clear: both;
  text-align: right;
  padding-bottom: 10px;
  width: auto;
}

div.committee-contact-block {
  float: right;
  padding-right: 10px;
  text-align: right;
  width: 70%;
}

/** Republic Act Listings **/

.republic-act-desc, .republic-act-meta {
  margin-left: 10px;
  text-indent: 0;
}
.republic-act-desc > a.legiscope-remote {
  text-decoration: none;
  color: #222;
}
.republic-act-meta {
  display: block;
}


/** Senate listing mode switch links **/
span.listing-mode-switcher {
	padding: 3px;
	margin: 3px 6px 3px 0;
	background-color: #EEE;
}

li > a.invalidated, li.invalidated {
  color: #F22;
}

span.link-faux-menuitem > a {
  padding: 3px 5px 3px 5px;
  margin: 3px 6px 3px 0;
  background-color: #EEE;
}

span.link-cluster-column-heading {
  margin: 2px;
}

a.clicked {
	background-color: #AAF;
	color: white !important;
}

/** POST links **/
.fauxpost {
  display: inline; 
  padding: 5px;
  margin-bottom: 5px;
  color: #D00;
}
.fauxpost.selected {
  background-color: #111;
  font-weight: bold;
  color: #F77 !important;
}
.full-width {
  width: 100%;
}

/*
.matched {
  background-color: #DDF;
}
.unmatched {
  background-color: #FDD;
}
*/

/** Graph node canvas **/

/** Legiscope Common Site Information (Per-Site) **/
div.legiscope-admin-main {
  display: block;
  width: 100%;
  clear: both;
  padding: 0;
  margin: 0;
  border: 0px solid transparent;
}
div.legiscope-admin {
  display: block;
  background-color: #F7F7F7;
  margin: 0;
  margin-top: 6px;
  padding: 2px;
  border: 1px dotted #777777;
  clear: none;
}
div.legiscope-admin:hover {
  background-color: transparent;
  padding: 2px;
  border: 1px solid transparent;
}

.legiscope-admin-submenu {
  width: 99%;
  min-height: 25px;
  vertical-align: middle;
}
.legiscope-admin-maincontent {
  clip: auto;
  overflow: hidden;
  clear: none;
  float: left;
  width: 49%;
  min-height: 640px;
}
.legiscope-admin-subcontent {
  clear: none;
  float: right;
  width: 49%;
  min-height: 640px;
}

.legiscope-admin h2 {
  font-weight: normal;
}

.legiscope-admin hr {
  color: transparent;
  background-color: transparent;
  border-style: dotted;
}

.legiscope-svg-fullsize {
	width: 100%;
}

#basemap {
	width: 100%;
}
.svg-outline {
	stroke: #000000;
	stroke-width: 0.2;
}
.hilight-outline {
	fill: blue !important;
}
