@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Yantramanav:300');

.external-link {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAXklEQVQoka2QwQ3AMAwCs1N28k7eiZ3oI7IcU6efBomXOREyxhUZ2brTdNAcVB2BaJgCVcDAalJLXsB+iLAjm1pAwzHWHD3gWMcMg/ERMjKfFOHVqMEGqEM/gKP/6gE2f+h+Z5P45wAAAABJRU5ErkJggg=='); 
  background-repeat:no-repeat;
  background-position:center left;
  padding-left: 17px;
}
.external-link:link, .external-link:active, .external-link:visited { 
  box-shadow: 0 0 0 0 !important; 
  text-decoration: none !important;
}
.external-link:hover {
  box-shadow: 0 1px 0 0; 
}

.external-link-user {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAXklEQVQoka2QwQ3AMAwCs1N28k7eiZ3oI7IcU6efBomXOREyxhUZ2brTdNAcVB2BaJgCVcDAalJLXsB+iLAjm1pAwzHWHD3gWMcMg/ERMjKfFOHVqMEGqEM/gKP/6gE2f+h+Z5P45wAAAABJRU5ErkJggg=='); 
  background-repeat:no-repeat;
  background-position:top right;
  background-origin: border-box;
  padding-right: 17px;
}

.external-link-user {
  display: block; 
  clear: both;
  float: right;
  font-family: 'Yantramanav', sans-serif; 
  font-weight: lighter; 
  font-size: 1.2em; 
  line-height: 1.1; 
  text-align: right; 
  margin-bottom: 10px; 
  color: black;
}

.external-link-user:link,.external-link-user:hover,.external-link-user:visited,.external-link-user:active {
  box-shadow: 0 0 0 0 !important;
  text-decoration: none;
}

.external-link-user:hover {
  font-weight: normal;
  color: black;
}

.trash {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAAH6ji2bAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4ggJDh0UNQiBCQAAAZhJREFUOMvF1D9rVFEQBfDfy0ZRLDYBo4iVjY3CCmLhn05wG2tbUfwENhZ2Cgr6EQJhOwttLEXURgMhlbETttIQYm8K42YtPE+uNzFZUPDA8ObdmXl37jlzHz+xocAUhlN5GZeR+QYDHGrDX5qd8jp5nsBZnMaBNjhbZy9nobUedPEe7zDddgVNjDaCVXxVoZPNVjAXfwmHMVMmXsTzbHwG5+L38AlH2sRujr+SfhbxLG0Myyb3RFP0uIaFKr4/rF2pC+dD0kYOtA0zOeFSEubS72yhi15FeW3LLblr+IyrRV+bSbqHR+XWwxQ9jW5T0XAQ6rbRU2rZ1CM4ESZOnK7e14u5Xd1JmZf4gG9V4U0cw6izi7QP8SISnkcft/AEB/F6t5locBc3CoaOh/f1quYo9uUIrXgLeFBesjsp3sIo/iQ2Ss1mvvEbuhF8kA77uBD/cqzJWj/+IDXdP6lSXt3H+IhruJ/1N7iNk3j1V/Pwzwfsv32w5nAc/ka4VKjYT3wL14ucTv0/rnEq1/n7Hj+NcXLepuYXfgAndG9Ps8hKVAAAAABJRU5ErkJggg==');
  background-repeat:no-repeat;
  background-position:center left;
  padding-left: 10px;
  padding-right: 10px;
  height: 16px;
}

.aux-link, .toc-link {
  white-space: nowrap;
  display: block;
  clear: both;
  float: right;
  font-size: 1.1em;
  line-height: 1.0;
  font-family: 'Yantramanav', sans-serif;
  text-align: right;
  padding-left: 5px;
  width: 100%;
}

.aux-link {
  font-weight: lighter;
  font-style: normal;
}

.constitution-commentary-comment {
  display: block;
  float: right;
  clear: both;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9em;
  line-height: 1.1;
}
